@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f5f8;
    font-family: 'Roboto', sans-serif;
}

.container{
   display: flex;
   flex-direction: column;
   align-items: center;
}

p{
    font-size: 4.5rem;
    font-weight: 500;
    color: #102a42;
    letter-spacing: 0.1em;
}

span{
    margin-top:0.2em ;
    font-size: 6rem;
    font-weight: 500;
    color: #222222;
}

button{
    border: 2px solid #222222;
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 10px;
    background-color: transparent;
    letter-spacing: 0.3em;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

button:hover{
    color: white;
    background-color: #222222;
    transition: 0.4s linear;
}

.buttons{
    margin-top: 2em;
    width: 500px;
    display: inline-flex;
    justify-content: space-evenly;

}