@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: #f1f5f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container{
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
    max-width: 65vw;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: 2px solid green; */
}

.line{
    margin-top: 0.5em;
    width: 90px;
    border: 2px solid #c59d5f;
}

.menus{
    margin-top: 1em;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.allMenus{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article{
    display: flex;
    margin-top: 3em;
    /* border: 2px solid green; */
    max-width: 600px;
}

.image{
    object-fit: cover;
    border: 3px solid #c59d5f;
    border-radius: 8px;
    margin-right: 1.5em;
}

.title{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

.title>p{
    font-weight: 700;
    color: #102a42;
    letter-spacing: 0.2em;
}

.title>span{
    font-size: 1rem;
    color: #c59d5f;
    letter-spacing: 0.2em;
}

.description{
    margin-top: 1.2em;
    color: #617d98;
    line-height: 1.4em;
}


.title{
    border-bottom: 1.5px dotted black;
}

button{
    margin-left: 1em;
    margin-top: 1em;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 8px;
    outline: none;
    border-top: 2px solid #c59d5f;
    border-left: 2px solid #c59d5f;
    border-right: 2px solid #715a36;
    border-bottom: 2px solid #715a36;
    color: #c59d5f;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1em;
    cursor: pointer;
    background-color: transparent;
}

button:hover{
    color: white;
    background-color: #c59d5f;
    transition: 0.2s linear;
}

img{
    border-radius: 3px;
    height: 175px;
    width: 225px;
    display: block;
}

span{
    font-size: 2.5rem;
    font-weight: 700;
    color: #102a42;
    letter-spacing: 0.1em;
}

@media (max-width:1865px){
    .allMenus{
        display: flex;
        justify-content: center;
    }
}

@media (max-width:800px){
    article{
        display: flex;
        flex-direction: column;
        max-width: 450px;
    }

    .image{
        width: 100%;
        object-fit: cover;
    }

    img{
        display: block;
        width: 100%;
        height: 230px;
    }

    .details{
        margin-top: 1em;
    }
}

@media (max-width:375px){
    body{
        text-align: center;
    }

    .details{
        text-align: center;
    }
    
    .title>p{
        /* border: 2px solid green; */
        max-width: 150px;
        font-size: 15px;
    }

    .title>span{
        font-size: 16px;
    }
}